*{
  box-sizing: border-box;
}
body {
  animation: colorchange 50s;
  -webkit-animation: colorchange 50s; /* Chrome and Safari */
}
main{
  background-image: url(slotmachine.png);
  background-repeat: no-repeat;
  background-size: auto;
  height: 800px;
  width: 70%;
  margin: 20%;
  background-position: center;
}
.display {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}
@keyframes colorchange{
  0%   {background: none;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: none;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */{
  0%   {background: none;}
  25%  {background: yellow;}
  50%  {background: cyan;}
  75%  {background: green;}
  100% {background: none;}
}

.machine{
margin: auto;
background-size: 100% 100%
border: 2px solid black;
display: flex;
align-items: center;
justify-content: space-around;
}

.slots {
  width: 8%;
  height: 130px;
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 32%;
  align-items: inherit;
  padding: 40px;
}
#slot1{

}
#slot2{

}
#slot3{

}
.left {
  border: 2px solid black;
  width: 33.33%;
  float: left;
  height: 100px;
  text-align: center;
}

.center {
  border: 2px solid black;
  width: 33.33%;
  float: left;
  height: 100px;
  text-align: center;
}

.right {
  border: 2px solid black;
  width: 33.33%;
  float: left;
  height: 100px;
}

.slots1 {
height: 100px;
width: 10%;
border: 2px solid border;
/* display: flex;
flex-direction: row; */
}


.slots2 {
height: 100px;
width: 10%;
border: 2px solid border;
/* display: flex;
flex-direction: row; */

}

.slots3 {
height: 100px;
width: 10%;
border: 2px solid border;
}


.Balance{
  height: 50px;
  width: 20%;
  border: 2px solid border;
}

.update{
  height: 100px;
  width: 33.33%;
  border: 2px solid border;
}

.go{
  width: 33.33%;
  border: 2px solid border;
  padding: 1%;
  color: #dc143c;
  background-color: #00fa9a;
  margin: center;
}

.mainSec{
  height: 100px;
  width: 33.33%;
  border: 2px solid border;
  margin: auto;
}

img{
width: 70%;
height: auto;
margin: 50%;

}
